<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swu.semiprojectsample">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/memo"
        android:label="메모장"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ModifyPwActivity"></activity>
        <activity android:name=".activity.NewMemoActivity" /> <!-- 카메라 사용을 위한 provider 선언 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.swu.semiprojectsample"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.ModifyMemberActivity" />
        <activity android:name=".activity.CameraCapture2Activity" />
        <activity android:name=".activity.ModifyMemoActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>